
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <form action="/addProduct" method="post" accept-charset="UTF-8">
    <input type="text" name="name" placeholder="상품명을 입력하세요">
    <input type="text" name="categoryId" placeholder="카테고리를 입력하세요">
    <input type="text" name="quantity" placeholder="수량을 입력하세요">
    <input type="text" name="price" placeholder="가격을 입력하세요">
    <input type="text" name="makeTime" placeholder="제조 시간을 입력하세요">
      <button>추가</button>
  </form>
  <a href="/back">back</a>
</div>
</body>
</html>