<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/addproduct.css">
</head>
<body>

        <table>
          <tr>
            <td><ul><a href="/productlist"><h1>1.재고관리</h1></a><br><br></ul></td>
            <td><ul><a href="/addproduct"><h1> 2.상품 추가</h1></a><br><br></ul></td>
            <td><ul><a href="/order_history"><h1> 3.주문 내역</h1></a><br><br></ul></td>
          </tr>
        </table>

</body>
</html>
