<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join</title>
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
<img src="/img/logo.png" alt="로고사진"/>
<div class="input-container">
    <form action="/join" method="post">
        <input type="text" name="name" placeholder="이름을 입력해주세요">
        <input type="password" name="password" placeholder="비밀번호를 입력해주세요">
        <input type="email" name="mail" placeholder="이메일을 입력해주세요">
        <input type="submit" value="회원가입">
    </form>
</div>
<div class="notice-container">
    <p>관리자 등록은 DM으로 문의해주세요.</p>
    <img src="/img/dmplz.png" alt="DM PLZ">
</div>
</body>
</html>